<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">
			
	<sec:http auto-config="true" use-expressions="true">
    	<sec:intercept-url pattern="/main*" access="hasRole('ROLE_USER')"/>
    	<sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />  	
    	<sec:intercept-url pattern="/app/**" access="hasRole('ROLE_USER')" />	
    	<sec:intercept-url pattern="/**" access="permitAll" />
    	<sec:form-login 
        	login-page="/index.html"
        	authentication-success-handler-ref="loginSuccessAuthHandler"
        	authentication-failure-url="/index.html?login_error=1" 
        />
        <sec:logout logout-success-url="/index.html"  delete-cookies="JSESSIONID"/>
	</sec:http>
	
 	
 	<sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider user-service-ref="customUserDetailsService" />
    </sec:authentication-manager>
 	
<!-- 	<sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider>
        	
        	<sec:user-service>
				<sec:user name="peter" password="abcdef" authorities="ROLE_USER"/>
				<sec:user name="alice" password="123456" authorities="ROLE_USER"/>
	    	</sec:user-service>
	    	
        	<sec:jdbc-user-service data-source-ref="dataSource"
		   		users-by-username-query="
		      		select username, password, enabled 
		      		from users where username=?" 
		   		authorities-by-username-query="
		      		select u.username, ur.authority from users u,  
		      		where u.username =?" 
			/>
        </sec:authentication-provider>
    </sec:authentication-manager> -->
    
    <!-- 
    <bean id="jdbcDaoImpl" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
   		<property name="enableGroups" value="false" />
   		<property name="enableAuthorities" value="true" />
		<property name="dataSource" ref="dataSource" />	
	</bean>
 	-->
 	<bean id="loginSuccessAuthHandler" class="com.mercury.security.LoginSuccessAuthenticationHandler"/>
 	<bean id="customUserDetailsService" class="com.mercury.services.CustomUserDetailsService"/>
</beans>